@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #6d0197;
}


::-webkit-scrollbar-thumb {
    background: #4e0368;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}